<a href="https://colab.research.google.com/github/oscar-oliva/clase22-feb/blob/main/ClassCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Funciones básicas
En algunos casos se deberá importar algunas librerías

In [13]:
from math import log

In [14]:
log(10)

2.302585092994046

In [15]:
print ("Hola amigos")

Hola amigos

In [16]:
import time

In [17]:
time.time()

1677114128.3301296

In [20]:
time.time()

1677114211.8313787

In [21]:
1677114211.8313787 - 1677114128.3301296

83.50124907493591

In [22]:
print(1677114211.8313787 - 1677114128.3301296)

83.50124907493591

**Python es un lenguaje orientado a objetos**

In [23]:
a = 4

In [24]:
print (a)

4

In [25]:
a = "Hola"
print (a)

Hola

In [26]:
time_elapsed = 1677114211.8313787 - 1677114128.3301296
print (time_elapsed)

83.50124907493591

In [34]:
start = time.time()
print('proceso')
time_elapsed = time.time()-start

print(f"El tiempo transcurrido es de {time_elapsed} segundos")

proceso
El tiempo transcurrido es de 0.0014390945434570312 segundos

####Mediante un for imprima los números del 1 al 10 e indique si son múltiplos de 3

In [52]:
for i in range (10):
  if (i%3==0):
    print(f"{i} es múltiplo de 3")

0 es múltiplo de 3
3 es múltiplo de 3
6 es múltiplo de 3
9 es múltiplo de 3

In [53]:
[x for x in range (0,11) if x%2==0]

[0, 2, 4, 6, 8, 10]

#Funciones

In [61]:
def my_greets(name):
  """Esta función saluda"""
  name = (f"Hello {name}")
  return print(name)
my_greets("Oscar")

Hello Oscar

In [66]:
def function1(x,y):
  """Esta funcion pregunta si x es múltiplo de y"""
  if (x%y==0):
    a = print(f"{x} es múltiplo de {y}")
  else:
    a= print(f"{x} no es múltiplo de {y}")
  return a
function1(8,4)

8 es múltiplo de 4

#Pandas

In [67]:
import pandas as pd

In [82]:
pddf = pd.DataFrame({'nombre':['Julio', 'Oscar', 'Juan','Pedro'], 'nota': [11, 10, 1, 13]})

In [74]:
pddf['edad'] = [13,14,15,16]

In [77]:
pddf['nota2'] = pddf['nota']+2
pddf

  nombre  nota  edad  nota2
0  Julio    11    13     13
1  Oscar    20    14     22
2   Juan     1    15      3
3  Pedro    13    16     15

In [80]:
from math import exp

In [84]:
pddf['col_new'] = pddf['nota'].apply(lambda x: 1/(1+exp(-x)))
pddf

  nombre  nota   col_new
0  Julio    11  0.999983
1  Oscar    10  0.999955
2   Juan     1  0.731059
3  Pedro    13  0.999998